<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultDB" value="server=192.168.30.18;database=jbsdb_copy;user id=dariaman;password=P@ssw0rd;default command timeout=0;Allow User Variables=True;" />
    <!--<add key="DirResult" value="C:\inetpub\wwwroot\jbs\File\UploadSchedule\" />
    <add key="BackupResult" value="C:\inetpub\wwwroot\jbs\File\ResultBackup\" />-->

    <add key="FileBilling" value="C:\inetpub\wwwroot\jbs\File\FileBilling\" />
    <add key="BillingBackup" value="C:\inetpub\wwwroot\jbs\File\BillingBackup\" />
    
    <add key="EmailPHS" value="dariaman.siagian@jagadiri.co.id,phs.pod@jagadiri.co.id" />
    
    <add key="DirResult" value="D:\upload\" />
    <add key="BackupResult" value="D:\upload\Backup\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>